Repository toiroakr/zinfer: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm oxlint --fix {staged_files}
      stage_fixed: true
      priority: 1
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm oxfmt --write {staged_files}
      stage_fixed: true
      priority: 2
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
      priority: 3

chore: auto-create changesets for Renovate PRs
  .github/workflows/add-renovate-changeset.yml
  renovate.json
Due: oxlint, oxfmt

fix: split add-renovate-changeset into detect+commit jobs for secrets isolation
  .github/workflows/add-renovate-changeset.yml
Due: none

fix: add trailing semicolon to record cross-reference index signature
  src/core/extractor.ts
Due: oxlint, oxfmt, typecheck

fix: read CLI version from package.json instead of hardcoded 0.1.0
  src/cli.ts
  tests/cli.test.ts
Due: oxlint, oxfmt, typecheck

fix: find descriptions through optional/nullable/default wrappers
  src/core/description-extractor.ts
  tests/__file_snapshots__/nested-inline-description-schema.ts
  tests/extractor.test.ts
  tests/fixtures/describe-order-schema.ts
Due: oxlint, oxfmt, typecheck

fix: only rewrite explicit type annotations declared in the same file
  src/core/extractor.ts
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: resolve types through aliased re-exports instead of any
  src/core/extractor.ts
  src/core/schema-detector.ts
  src/core/types.ts
  tests/__file_snapshots__/multi-schema.ts
  tests/__snapshots__/schema-detector.test.ts.snap
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: preserve fixed leading elements of variadic tuples
  src/core/extractor.ts
  src/core/normalizer.ts
  tests/extractor.test.ts
  tests/fixtures/rest-tuple-schema.ts
Due: oxlint, oxfmt, typecheck

fix: brand the array/record element instead of the whole collection
  src/core/brand-detector.ts
  src/core/extractor.ts
  src/core/index.ts
  src/core/normalizer.ts
  src/core/type-printer.ts
  src/core/types.ts
  tests/extractor.test.ts
  tests/fixtures/array-brand-schema.ts
  tests/fixtures/object-brand-schema.ts
Due: oxlint, oxfmt, typecheck

fix: stop generate:type-tests from overwriting --with-descriptions snapshots
  tests/extractor.test.ts
  tests/fixtures/with-descriptions/multiline-description-schema.ts
  tests/fixtures/with-descriptions/nested-inline-description-schema.ts
  tests/fixtures/with-descriptions/recursive-inline-description-schema.ts
Due: oxlint, oxfmt, typecheck

refactor: split CLI wiring from runCLI to enable end-to-end tests
  src/cli-runner.ts
  src/cli.ts
  tests/cli.test.ts
Due: oxlint, oxfmt, typecheck

fix: honor -c/--config and exclude, which were silently ignored
  src/cli-runner.ts
  src/core/config-loader.ts
  src/core/file-resolver.ts
  tests/cli.test.ts
Due: oxlint, oxfmt, typecheck

test: type-check generated --generate-tests files, not just type files
  tests/__file_snapshots__/tsconfig.json
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: stop oxfmt pre-commit hook from failing on snapshot-only commits
  lefthook.yml
Due: none

test: add generated type-equality snapshots for this session's fixtures
  tests/__file_snapshots__/array-brand-schema.test.ts
  tests/__file_snapshots__/array-brand-schema.ts
  tests/__file_snapshots__/describe-order-schema.test.ts
  tests/__file_snapshots__/describe-order-schema.ts
  tests/__file_snapshots__/mixed-union-reference-common.test.ts
  tests/__file_snapshots__/mixed-union-reference-common.ts
  tests/__file_snapshots__/object-brand-schema.test.ts
  tests/__file_snapshots__/object-brand-schema.ts
  tests/__file_snapshots__/rest-tuple-schema.test.ts
  tests/__file_snapshots__/rest-tuple-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset for recent issue batch fixes
  .changeset/fix-batch-of-recent-issues.md
Due: oxfmt

fix: address CodeRabbit review feedback on recent issue-batch PR
  src/cli-runner.ts
  src/core/config-loader.ts
  src/core/normalizer.ts
  tests/cli.test.ts
Due: oxlint, oxfmt, typecheck

fix: resolve getter-based self-reference through an aliased re-export
  src/core/extractor.ts
  tests/extractor.test.ts
  tests/fixtures/alias-getter-schema.ts
Due: oxlint, oxfmt, typecheck

test: run the extractor type-check gate through node, not npx
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: skip the BRAND import when the brand only appears on an omitted side
  src/core/type-printer.ts
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

chore: bump the changeset to minor for the BrandDetector export removal
  .changeset/fix-batch-of-recent-issues.md
Due: oxfmt

test: surface the real tsgo failure instead of a misleading stale-allowlist error
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: exclude non-exported schemas from the BRAND import check
  src/core/type-printer.ts
  tests/extractor.test.ts
  tests/fixtures/nonexported-brand-schema.ts
Due: oxlint, oxfmt, typecheck

test: add regression coverage for untested CodeRabbit-driven fixes
  tests/cli.test.ts
  tests/normalizer.test.ts
Due: oxlint, oxfmt, typecheck

fix: rewrite explicit annotations naming a locally declared class too
  src/core/extractor.ts
  tests/extractor.test.ts
  tests/fixtures/class-explicit-type-schema.ts
Due: oxlint, oxfmt, typecheck

docs: mention the BRAND-import fixes and surface the breaking change
  .changeset/fix-batch-of-recent-issues.md
Due: oxfmt

fix: skip the explicit-type rewrite when it resolves to exactly the identifier
  .changeset/fix-batch-of-recent-issues.md
  src/core/extractor.ts
  tests/extractor.test.ts
  tests/fixtures/class-explicit-type-schema.ts
  tests/fixtures/degenerate-explicit-type/class-explicit-type-schema.ts
  tests/fixtures/degenerate-explicit-type/interface-explicit-type-schema.ts
Due: oxlint, oxfmt, typecheck

test: backfill missing --generate-tests snapshots for existing fixtures
  tests/__file_snapshots__/alias-getter-schema.test.ts
  tests/__file_snapshots__/alias-getter-schema.ts
  tests/__file_snapshots__/array-readonly-schema.test.ts
  tests/__file_snapshots__/mergeSame-multi-schema.test.ts
  tests/__file_snapshots__/mergeSame-multi-schema.ts
  tests/__file_snapshots__/nonexported-brand-schema.test.ts
  tests/__file_snapshots__/nonexported-brand-schema.ts
  tests/__file_snapshots__/strict-object-schema.test.ts
  tests/__file_snapshots__/tuple-schema.test.ts
  tests/__file_snapshots__/union-nonexport-member-schema.test.ts
Due: oxlint, oxfmt, typecheck

fix: resolve aliased re-exports through cross-schema and union member references
  .changeset/fix-batch-of-recent-issues.md
  src/core/extractor.ts
  tests/__file_snapshots__/alias-cross-reference-schema.test.ts
  tests/__file_snapshots__/alias-cross-reference-schema.ts
  tests/__file_snapshots__/alias-union-member-schema.test.ts
  tests/__file_snapshots__/alias-union-member-schema.ts
  tests/extractor.test.ts
  tests/fixtures/alias-cross-reference-schema.ts
  tests/fixtures/alias-union-member-schema.ts
  tests/normalizer.test.ts
Due: oxlint, oxfmt, typecheck

docs: complete a truncated comment in validateOptions
  src/cli-runner.ts
Due: oxlint, oxfmt, typecheck

fix: surface package.json load failures for an explicit --config path
  .changeset/fix-batch-of-recent-issues.md
  src/core/config-loader.ts
  tests/config-loader.test.ts
Due: oxlint, oxfmt, typecheck

fix: qualify degenerate explicit type annotations via inline import
  src/core/extractor.ts
  tests/__file_snapshots__/degenerate-explicit-type/class-explicit-type-schema.ts
  tests/__file_snapshots__/degenerate-explicit-type/interface-explicit-type-schema.ts
  tests/extractor.test.ts
  tests/fixtures/degenerate-explicit-type/class-explicit-type-schema.ts
  tests/fixtures/degenerate-explicit-type/interface-explicit-type-schema.ts
  tests/fixtures/degenerate-explicit-type/nonexported-explicit-type-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/qualify-degenerate-explicit-type.md
Due: oxfmt

fix: resolve the actual export name for qualified local type references
  .changeset/qualify-degenerate-explicit-type.md
  src/core/extractor.ts
  tests/__file_snapshots__/degenerate-explicit-type/aliased-export-explicit-type-schema.ts
  tests/__file_snapshots__/degenerate-explicit-type/default-export-explicit-type-schema.ts
  tests/extractor.test.ts
  tests/fixtures/degenerate-explicit-type/aliased-export-explicit-type-schema.ts
  tests/fixtures/degenerate-explicit-type/default-export-explicit-type-schema.ts
Due: oxlint, oxfmt, typecheck

fix(deps): restore peerDependencies lower bounds narrowed by Renovate
  .changeset/fix-peer-deps-range-strategy.md
  .github/workflows/ci.yml
  package.json
  renovate.json
Due: oxlint, oxfmt

fix(deps): correct zod peerDependencies floor to the verified >=3.25.76
  .changeset/fix-peer-deps-range-strategy.md
  .github/workflows/ci.yml
  package.json
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix(test): keep the fixture-error message in sync with the zod v3 allowlist
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

chore(deps): set explicit rangeStrategy per dependency type
  .changeset/renovate-range-strategy-by-deptype.md
  package.json
  pnpm-lock.yaml
  renovate.json
Due: oxlint, oxfmt

chore(deps): spell out peerDependencies rangeStrategy explicitly
  .changeset/renovate-range-strategy-by-deptype.md
  renovate.json
Due: oxlint, oxfmt

chore(deps): correct changeset's dependency-resolution explanation
  .changeset/renovate-range-strategy-by-deptype.md
Due: oxfmt
