Repository toiroakr/zinfer: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

oxlint:
  run: pnpm oxlint --fix {staged_files}
  stage_fixed: true
  priority: 1

oxfmt:
  run: pnpm oxfmt --write {staged_files}
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat: improve error handling and add verbose mode
  src/cli.ts
  src/core/config-loader.ts
  src/core/errors.ts
  src/core/extractor.ts
  src/core/import-resolver.ts
  src/core/index.ts
  src/core/logger.ts
Due: oxlint, oxfmt, typecheck

feat: add type equality test to verify zinfer types match z.input/z.output
  tests/type-equality.test.ts
Due: oxlint, oxfmt, typecheck

feat: generate type equality tests alongside type files
  README.md
  package.json
  src/cli.ts
  src/core/index.ts
  src/core/test-generator.ts
  src/index.ts
  tests/__file_snapshots__/basic-schema.test.ts
  tests/__file_snapshots__/brand-schema.test.ts
  tests/__file_snapshots__/cross-ref-schema.test.ts
  tests/__file_snapshots__/described-schema.test.ts
  tests/__file_snapshots__/enum-schema.test.ts
  tests/__file_snapshots__/getter-schema.test.ts
  tests/__file_snapshots__/intersection-schema.test.ts
  tests/__file_snapshots__/lazy-schema.test.ts
  tests/__file_snapshots__/mixed-export-schema.test.ts
  tests/__file_snapshots__/multi-schema.test.ts
  tests/__file_snapshots__/nested-schema.test.ts
  tests/__file_snapshots__/transform-schema.test.ts
  tests/__file_snapshots__/union-ref-schema.test.ts
  tests/__file_snapshots__/union-schema.test.ts
  tests/__file_snapshots__/utility-types-schema.test.ts
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

feat: add 'pathe' dependency and refactor path handling in CLI
  package.json
  pnpm-lock.yaml
  src/cli.ts
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

feat: refactor imports to use 'pathe' and streamline type handling in core files
  src/core/brand-detector.ts
  src/core/config-loader.ts
  src/core/description-extractor.ts
  src/core/extractor.ts
  src/core/file-resolver.ts
  src/core/getter-resolver.ts
  src/core/test-generator.ts
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

feat: remove factory functions for core classes and streamline exports
  src/core/config-loader.ts
  src/core/description-extractor.ts
  src/core/extractor.ts
  src/core/file-resolver.ts
  src/core/getter-resolver.ts
  src/core/import-resolver.ts
  src/core/index.ts
  src/core/name-mapper.ts
  src/index.ts
Due: oxlint, oxfmt, typecheck

feat: enhance CLI and core functionality with improved error handling and path resolution
  src/cli.ts
  src/core/config-loader.ts
  src/core/extractor.ts
  src/core/file-resolver.ts
  src/core/import-resolver.ts
  src/core/schema-detector.ts
  src/core/type-printer.ts
Due: oxlint, oxfmt, typecheck

feat: implement safety limits and escape regex in type extraction and test generation
  src/core/extractor.ts
  src/core/getter-resolver.ts
  src/core/test-generator.ts
  src/core/type-printer.ts
Due: oxlint, oxfmt, typecheck

feat: simplify loop in ZodTypeExtractor by removing safety limit and iteration count
  src/core/extractor.ts
Due: oxlint, oxfmt, typecheck

fix: update tests to match refactored API signatures
  tests/getter-resolver.test.ts
  tests/import-resolver.test.ts
Due: oxlint, oxfmt, typecheck

feat: add verbose logging and CLI option validation
  src/cli.ts
  src/core/description-extractor.ts
  src/core/errors.ts
  src/core/extractor.ts
  src/core/import-resolver.ts
  src/core/index.ts
  src/core/logger.ts
Due: oxlint, oxfmt, typecheck

fix: add beforeAll warmup to prevent CI test timeout
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

feat: add knip, changeset, commit/create-pr skills, and lefthook-local
  .changeset/config.json
  .claude/skills/commit/SKILL.md
  .claude/skills/create-pr/SKILL.md
  knip.json
  package.json
  pnpm-lock.yaml
  src/core/config-loader.ts
  src/core/errors.ts
  src/core/index.ts
  src/core/logger.ts
Due: oxlint, oxfmt, typecheck

feat: add changesets release workflow with npm trust publishing
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/workflow-lint.yml
  package.json
Due: oxlint, oxfmt

chore: add changeset for v0.1.1 release
  .changeset/red-cats-pure-rigs.md
Due: oxfmt

chore: align renovate config with politty
  renovate.json
Due: oxlint, oxfmt

docs: translate all Japanese content to English
  .claude/skills/commit/SKILL.md
  .claude/skills/create-pr/SKILL.md
  README.md
Due: oxfmt

fix: config merging, suffix handling, union extraction, and type generation
  src/cli.ts
  src/core/config-loader.ts
  src/core/extractor.ts
  src/core/file-resolver.ts
  src/core/name-mapper.ts
  src/core/normalizer.ts
  src/core/type-printer.ts
  tests/__file_snapshots__/cross-ref-schema.ts
  tests/__file_snapshots__/described-schema-with-descriptions.ts
  tests/__file_snapshots__/described-schema.ts
  tests/__file_snapshots__/getter-schema.ts
  tests/__file_snapshots__/lazy-schema.ts
  tests/__file_snapshots__/nested-schema.ts
  tests/__file_snapshots__/options-mergeSame.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/brave-foxes-glow.md
Due: oxfmt

perf: add caching and reduce redundant AST traversals
  src/core/brand-detector.ts
  src/core/extractor.ts
  src/core/getter-resolver.ts
  src/core/import-resolver.ts
  src/core/index.ts
  src/core/normalizer.ts
  src/core/schema-detector.ts
  src/core/schema-reference-analyzer.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/swift-waves-shine.md
Due: oxfmt

perf: skip file dependency resolution and optimize type post-processing
  src/core/extractor.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/bright-foxes-jump.md
Due: oxfmt

feat: use jiti for TypeScript-aware module resolution in DescriptionExtractor
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/core/description-extractor.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/bright-foxes-glow.md
Due: oxfmt

fix: handle multiline descriptions in JSDoc comment generation
  src/core/type-printer.ts
  tests/__file_snapshots__/multiline-description-schema.ts
  tests/extractor.test.ts
  tests/fixtures/multiline-description-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/fix-multiline-jsdoc.md
Due: oxfmt

style: fix formatting
  src/cli.ts
  src/core/type-printer.ts
Due: oxlint, oxfmt, typecheck

test: add regression tests for config merging, suffix handling, union extraction, and type generation bugs
  tests/__file_snapshots__/array-readonly-schema.ts
  tests/__file_snapshots__/options-mergeSame-multi.ts
  tests/__file_snapshots__/union-nonexport-member-schema.ts
  tests/extractor.test.ts
  tests/fixtures/array-readonly-schema.ts
  tests/fixtures/mergeSame-multi-schema.ts
  tests/fixtures/union-nonexport-member-schema.ts
  tests/name-mapper.test.ts
Due: oxlint, oxfmt, typecheck

fix: export relativizeImportPaths from core/index.ts
  .claude/skills/commit/SKILL.md
  src/core/index.ts
Due: oxlint, oxfmt, typecheck

chore: update changeset description
  .changeset/fix-multiline-jsdoc.md
Due: oxfmt

chore: add changeset
  .changeset/warm-pens-glow.md
Due: oxfmt

chore: add zod-to-ts keyword to package.json
  package.json
Due: oxlint, oxfmt

ci: add pkg.pr.new preview workflow for PR-based package publishing
  .github/workflows/preview.yml
Due: none

fix: use pnpm dlx instead of pnpx
  .github/workflows/preview.yml
Due: none

ci: use GitHub App token for changesets action
  .github/workflows/release.yml
Due: none

ci: add explicit permissions to create-github-app-token
  .github/workflows/release.yml
Due: none

Path conditions:
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
