Repository toiroakr/zinfer: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm oxlint --fix {staged_files}
      stage_fixed: true
      priority: 1
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm oxfmt --write {staged_files}
      stage_fixed: true
      priority: 2
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
      priority: 3

ci: reduce job permissions to least-privilege
  .github/workflows/release.yml
Due: none

chore: pnpmのminimumReleaseAge設定を追加
  .npmrc
Due: none

fix: add explicit node types for tsgo compatibility
  tsconfig.json
Due: oxlint, oxfmt

fix: increase test timeout for CI environment
  vitest.config.ts
Due: oxlint, oxfmt, typecheck

fix: preserve tuple types instead of expanding to arrays
  src/core/normalizer.ts
  tests/__file_snapshots__/tuple-schema.ts
  tests/extractor.test.ts
  tests/fixtures/tuple-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/fix-tuple-expansion.md
Due: oxfmt

fix: override minimumReleaseAge to 7 days for npm packages
  renovate.json
Due: oxlint, oxfmt

feat: support subpath imports including the #/* form
  .changeset/subpath-import-support.md
  README.md
  package.json
  pnpm-lock.yaml
  src/core/import-resolver.ts
  tests/extractor.test.ts
  tests/fixtures/subpath-import/consumer.ts
  tests/fixtures/subpath-import/exact-consumer.ts
  tests/fixtures/subpath-import/package.json
  tests/fixtures/subpath-import/schemas/shared.ts
  tests/import-resolver.test.ts
Due: oxlint, oxfmt, typecheck

chore: remove unused ExtractResult import in extractor test
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: preserve JSDoc descriptions for #/* subpath imports on Node < 26
  src/core/description-extractor.ts
  tests/extractor.test.ts
  tests/fixtures/subpath-import/described-consumer.ts
  tests/fixtures/subpath-import/described-named-consumer.ts
  tests/fixtures/subpath-import/package.json
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/subpath-import-jsdoc.md
Due: oxfmt

build: approve esbuild and lefthook build scripts for pnpm 11
  pnpm-workspace.yaml
Due: none

fix: resolve #/* subpath imports whose target has a suffix after the wildcard
  src/core/description-extractor.ts
  tests/extractor.test.ts
  tests/fixtures/subpath-import-suffix/consumer.ts
  tests/fixtures/subpath-import-suffix/package.json
  tests/fixtures/subpath-import-suffix/src/shared.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/subpath-import-suffix-jsdoc.md
Due: oxfmt

fix: preserve strict object schema references
  .changeset/strict-object-references.md
  src/core/schema-reference-analyzer.ts
  tests/__file_snapshots__/strict-object-schema.ts
  tests/extractor.test.ts
  tests/fixtures/strict-object-schema.ts
Due: oxlint, oxfmt, typecheck

fix: preserve z.strictObject and z.looseObject references
  src/core/schema-reference-analyzer.ts
Due: oxlint, oxfmt, typecheck

fix: detect schemas when formatter breaks the builder chain across lines
  src/core/schema-detector.ts
  tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix: preserve schema references wrapped in type-preserving methods
  .changeset/describe-breaks-schema-references.md
  src/core/schema-detector.ts
  src/core/schema-reference-analyzer.ts
  tests/__file_snapshots__/described-ref-schema.test.ts
  tests/__file_snapshots__/described-ref-schema.ts
  tests/__file_snapshots__/described-schema-with-descriptions.ts
  tests/__file_snapshots__/described-schema.ts
  tests/extractor.test.ts
  tests/fixtures/described-ref-schema.ts
Due: oxlint, oxfmt, typecheck

fix: preserve mixed union schema references
  .changeset/preserve-mixed-schema-references.md
  src/core/extractor.ts
  src/core/schema-reference-analyzer.ts
  tests/__file_snapshots__/mixed-union-reference-schema.test.ts
  tests/__file_snapshots__/mixed-union-reference-schema.ts
  tests/extractor.test.ts
  tests/fixtures/mixed-union-reference-common.ts
  tests/fixtures/mixed-union-reference-schema.ts
Due: oxlint, oxfmt, typecheck

refactor(core): introduce TsHost abstraction over ts-morph in extractor
  src/core/extractor.ts
  src/core/ts-host.ts
  src/core/ts-morph-host.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/quiet-plums-relax.md
Due: oxfmt

fix: scope inline description lookup by field path, not name
  src/core/description-extractor.ts
  src/core/type-printer.ts
  tests/__file_snapshots__/nested-inline-description-schema.ts
  tests/extractor.test.ts
  tests/fixtures/nested-inline-description-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/fix-inline-description-leak.md
Due: oxfmt

fix: scope sibling union/tuple object fields per depth, not by last field seen
  src/core/type-printer.ts
  tests/__file_snapshots__/nested-inline-description-schema.ts
  tests/extractor.test.ts
  tests/fixtures/nested-inline-description-schema.ts
Due: oxlint, oxfmt, typecheck

chore: update changeset description
  .changeset/fix-inline-description-leak.md
Due: oxfmt

refactor(core): replace ts-morph with tsgo/Corsa API
  .changeset/quiet-plums-relax.md
  package.json
  pnpm-lock.yaml
  src/core/brand-detector.ts
  src/core/errors.ts
  src/core/extractor.ts
  src/core/getter-resolver.ts
  src/core/import-resolver.ts
  src/core/schema-detector.ts
  src/core/schema-reference-analyzer.ts
  src/core/ts-host.ts
  src/core/ts-morph-host.ts
  src/core/tsgo-ast-utils.ts
  src/core/tsgo-host.ts
  tests/__file_snapshots__/described-schema-with-descriptions.ts
  tests/__file_snapshots__/described-schema.ts
  tests/__file_snapshots__/enum-schema.ts
  tests/__file_snapshots__/mixed-union-reference-schema.ts
  tests/extractor.test.ts
  tests/getter-resolver.test.ts
  tests/import-resolver.test.ts
  tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

refactor: unexport SchemaDetector and BrandDetector
  .changeset/quiet-plums-relax.md
  README.md
  src/core/index.ts
  src/index.ts
Due: oxlint, oxfmt, typecheck

chore: enter changesets pre-release mode (next)
  .changeset/pre.json
  lefthook.yml
Due: oxlint, oxfmt

revert: exit changesets pre-release mode
  .changeset/pre.json
Due: oxlint, oxfmt

ci: publish ts7 preview releases under next tag
  .changeset/pre.json
  .github/workflows/release-ts7.yml
Due: oxlint, oxfmt

chore: bump ts-morph -> tsgo migration to a major release
  .changeset/quiet-plums-relax.md
Due: oxfmt

ci: trigger release.yml on ts7 push instead of a separate workflow
  .github/workflows/release-ts7.yml
  .github/workflows/release.yml
Due: none

refactor(core): serve real tsconfig at its own path instead of reconstructing options
  package.json
  pnpm-lock.yaml
  src/core/tsgo-host.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset for tsconfig extends/jsonc fix
  .changeset/soft-otters-behave.md
Due: oxfmt

fix: prevent stack overflow on self-recursive schemas during description extraction
  src/core/description-extractor.ts
  tests/__file_snapshots__/recursive-inline-description-schema.ts
  tests/extractor.test.ts
  tests/fixtures/recursive-inline-description-schema.ts
Due: oxlint, oxfmt, typecheck

chore: add changeset
  .changeset/fix-recursive-description-stack-overflow.md
Due: oxfmt

test: sweep every fixture through DescriptionExtractor to catch silent extraction failures
  tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

fix: safely extract error messages from non-Error thrown values
  src/core/description-extractor.ts
  src/core/logger.ts
Due: oxlint, oxfmt, typecheck

fix: stop linting JSON with oxlint in pre-commit hook
  lefthook.yml
Due: none

chore: use version ranges for devDependencies and bump them via renovate
  package.json
  pnpm-lock.yaml
  renovate.json
Due: oxlint, oxfmt
