Repository toiroakr/zinfer: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm oxlint --fix {staged_files}
      stage_fixed: true
      priority: 1
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm oxfmt --write {staged_files}
      stage_fixed: true
      priority: 2
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
      priority: 3

fix(zinfer): support Zod 4.6 schema APIs
  .changeset/zinfer-current-api.md
  packages/core/src/normalizer.ts
  packages/vinfer/src/core/index.ts
  packages/zinfer/README.md
  packages/zinfer/package.json
  packages/zinfer/src/core/extractor.ts
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/__file_snapshots__/tsconfig.json
  packages/zinfer/tests/current-api.test.ts
  packages/zinfer/tests/fixtures/current-api/schema.ts
  packages/zinfer/tests/schema-detector.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, oxfmt, typecheck

fix(zinfer-mini): support Zod Mini 4.6 schema APIs
  .changeset/zinfer-mini-current-api.md
  packages/core/src/normalizer.ts
  packages/vinfer/src/core/index.ts
  packages/zinfer-mini/README.md
  packages/zinfer-mini/package.json
  packages/zinfer-mini/src/core/extractor.ts
  packages/zinfer-mini/src/core/schema-detector.ts
  packages/zinfer-mini/src/core/zod-mini-bindings.ts
  packages/zinfer-mini/tests/__file_snapshots__/tsconfig.json
  packages/zinfer-mini/tests/current-api.test.ts
  packages/zinfer-mini/tests/fixtures/current-api/schema.ts
  packages/zinfer-mini/tests/schema-detector.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: oxlint, oxfmt, typecheck

test: detect upstream schema API surface changes
  .changeset/api-review-gate.md
  .github/workflows/ci.yml
  package.json
  packages/core/api-coverage.config.ts
  packages/core/api-coverage/README.md
  packages/core/api-coverage/surface.ts
  packages/core/api-coverage/upstream.test.ts
  packages/core/api-coverage/vinfer.txt
  packages/core/api-coverage/zinfer-mini.txt
  packages/core/api-coverage/zinfer.txt
  packages/core/package.json
  packages/core/tests/api-surface.test.ts
  packages/core/tsconfig.api-coverage.json
  packages/vinfer/README.md
  packages/vinfer/src/core/index.ts
  packages/zinfer-mini/README.md
  packages/zinfer/README.md
Due: oxlint, oxfmt, typecheck

test: include declared signatures in the API review gate
  packages/core/api-coverage/README.md
  packages/core/api-coverage/surface.ts
  packages/core/api-coverage/vinfer.txt
  packages/core/api-coverage/zinfer-mini.txt
  packages/core/api-coverage/zinfer.txt
  packages/core/tests/api-surface.test.ts
Due: oxlint, oxfmt, typecheck

chore: allow immediate schema library updates
  pnpm-workspace.yaml
Due: none

fix(zinfer-mini): detect function schemas returned by apply
  .changeset/zinfer-mini-current-api.md
  packages/zinfer-mini/src/core/schema-detector.ts
  packages/zinfer-mini/tests/current-api.test.ts
  packages/zinfer-mini/tests/fixtures/current-api/schema.ts
Due: oxlint, oxfmt, typecheck

fix(zinfer): validate method chain schema types
  .changeset/zinfer-current-api.md
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/current-api.test.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix(zinfer): preserve annotated symbol schema types
  .changeset/zinfer-current-api.md
  packages/zinfer/README.md
  packages/zinfer/src/core/extractor.ts
  packages/zinfer/tests/fixtures/current-api/schema.ts
Due: oxlint, oxfmt, typecheck

chore: require manual schema dependency merges
  .changeset/api-review-gate.md
  packages/core/api-coverage/README.md
  renovate.json
Due: oxlint, oxfmt

fix(zinfer): inspect schema chain return types
  .changeset/zod-value-method-results.md
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/current-api.test.ts
  packages/zinfer/tests/fixtures/current-api/schema.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix(zinfer): verify parser on schema-like results
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix(zinfer): exclude value-returning schema operations
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

ci: run API surface check right after install
  .github/workflows/ci.yml
Due: none

test(vinfer): raise extractor afterAll hook timeout to 120s
  packages/vinfer/tests/extractor.test.ts
Due: oxlint, oxfmt, typecheck

chore(renovate): group zod and @zod/mini updates together
  renovate.json
Due: oxlint, oxfmt

fix(ci): skip private packages when detecting renovate changeset needs
  .github/workflows/add-renovate-changeset.yml
Due: none

test: raise current-api test timeout to 120s
  packages/vinfer/tests/current-api.test.ts
  packages/zinfer-mini/tests/current-api.test.ts
  packages/zinfer/tests/current-api.test.ts
Due: oxlint, oxfmt, typecheck

fix(core): support currencyCode in the upstream API review gate
  .changeset/zinfer-currency-code.md
  .changeset/zinfer-mini-currency-code.md
  packages/core/api-coverage/zinfer-mini.txt
  packages/core/api-coverage/zinfer.txt
  packages/zinfer-mini/src/core/zod-mini-bindings.ts
  packages/zinfer-mini/tests/fixtures/current-api/schema.ts
  packages/zinfer-mini/tests/schema-detector.test.ts
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/fixtures/current-api/schema.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix: drop standalone z.properties() from schema detection
  packages/zinfer-mini/README.md
  packages/zinfer-mini/src/core/zod-mini-bindings.ts
  packages/zinfer-mini/tests/current-api.test.ts
  packages/zinfer-mini/tests/fixtures/current-api/schema.ts
  packages/zinfer-mini/tests/schema-detector.test.ts
  packages/zinfer/README.md
  packages/zinfer/src/core/schema-detector.ts
  packages/zinfer/tests/current-api.test.ts
  packages/zinfer/tests/fixtures/current-api/schema.ts
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

chore: update changeset description
  .changeset/zinfer-currency-code.md
  .changeset/zinfer-mini-currency-code.md
Due: oxfmt

fix(zinfer): keep the schema-builder unit test peer-floor safe
  packages/zinfer/tests/schema-detector.test.ts
Due: oxlint, oxfmt, typecheck

fix(zinfer-mini): detect legacy schema-returning z.properties()
  packages/zinfer-mini/README.md
  packages/zinfer-mini/src/core/schema-detector.ts
  packages/zinfer-mini/src/core/zod-mini-bindings.ts
  packages/zinfer/README.md
Due: oxlint, oxfmt, typecheck

test: guard current-api fixtures on currencyCode, cover legacy properties()
  packages/zinfer-mini/tests/current-api.test.ts
  packages/zinfer-mini/tests/schema-detector.test.ts
  packages/zinfer/tests/current-api.test.ts
Due: oxlint, oxfmt, typecheck
